<div fxFill fxLayout="column" fxLayoutAlign="center start">
  <button mat-raised-button color="primary" (click)="createObservable()">Create Observable</button>
  <br>
  <button mat-raised-button color="primary" (click)="from()">Function from</button>
  <br>
  <button mat-raised-button color="primary" (click)="of()">Function of</button>
  <br>
  <button mat-raised-button color="primary" (click)="interval()">Function interval</button>
  <br>
  <button mat-raised-button color="primary" (click)="timer()">Function timer</button>

  <br>
  <button mat-raised-button color="warn" (click)="unsubscribe()">Unsubscribe</button>

  <br>
  <button mat-raised-button color="primary" (click)="fromEvent()">Function fromEvent</button>
</div>
