<div fxLayout="row" fxLayoutAlign="space-around center" fxFill>

  <div fxFlex="20">
    <mat-radio-group [(ngModel)]="option" fxLayout="column" fxLayoutAlign="center start">
      <ng-container *ngFor="let opt of options">
        <mat-radio-button [id]="opt" [value]="opt">{{capitalizeFirstLetter(opt)}}</mat-radio-button>
        <br>
      </ng-container>
    </mat-radio-group>

  </div>

  <div fxFlex="70">
    <ng-container [ngSwitch]="option">
      <app-basic *ngSwitchCase="'basic'" fxFill></app-basic>
      <app-operators *ngSwitchCase="'operators'" fxFill></app-operators>
      <app-async *ngSwitchCase="'async'" fxFill></app-async>
    </ng-container>
  </div>
</div>
