<div fxFill fxLayout="column" fxLayoutAlign="center start">
  <button mat-raised-button color="primary" (click)="mapClick()">Create Map</button>
  <br>
  <button mat-raised-button color="primary" (click)="filterClick()">Create Filter</button>
  <br>
  <button mat-raised-button color="primary" (click)="tapClick()">Create Tap</button>
  <br>
  <button mat-raised-button color="primary" (click)="takeClick()">Create Take</button>
  <br>
  <button mat-raised-button color="warn" (click)="unsubscribe()">Unsubscribe</button>
</div>
